div{
margin:20px;
padding:0px;
width:100px;
height:200px;
background-color:white;
border-width:1px;
border-style:solid;
box-shadow:0px,0px,0px,gray;
border-radius:20px/20px;
//box-align:center;
//float:left;
}
li
{
//display:block;
//float:left;
//dislpay:inline;
display:inline-block;
}
nav
{
margin:50px;
padding:0px;
top:10px;
width:100px;
height:300px;
border-style:solid;
box-shadow:20px/20px;
}