*{
margin:0%;
padding:0%;
}
#head
{
background-color:purple;
display:flex;
border:2px solid black;
height:60px;
width:100%;
margin-top:1%;
margin-right:0%px;
margin-left:0%px;
padding:13px;
}
li
{
display:inline;
float:left;
font-size:20px;
font-famaily:"sofia",san-serif;
text-decoration:none;
list-style-type:none;
cursor:pointer;
padding:10px;
margin-top:0%;
margin:20px;
background-color:pink;
text-align:center;
text-items:center;
width:110px;
height:45%;
}
button
{
color:black;
font-size:20px;
height:60px;
width:100px;
border:2px solid black;
margin-left:670px;
font-weight: bold;
}
button:hover{
color:red;
}
h1
{
text-align:center;
}
h2
{
color:blue;
font-size:60px;
cursor:pointer;
}
h2:hover
{
color:pink;
}
footer
{
border:2px solid black;
}
form
{
background-color:white;
width:100%;
height:800px;
}
form table input{
font-size:30px;
border:1px solid black;
padding:5px;
margin:0px;
}
div footer
{
margin-top:0px;
display:block;
height:100px;
background-color:purple;
text-align:center;
padding:10px;
font-weight:bold;
font-size:50px;
font-famaily:"sofia",san-serif;
}
textarea
{
width:374px;
border:1px solid black;
height:40px;
color:gray;
font-weight:bold;
}
td
{
font-size:25px;
}
th
{
font-size:25px;
}
#log
{
border:1px solid black;
float:center;
margin-top:12%;
margin-right:25%;
margin-left:25%;
font-size:30px;
height:150px;
}
#btn
{
text-align:center;
float:center;
font-size:20px;
width:100%;
}
span
{
padding:5px;
margin:10px;
cursor:pointer;
}
.man
{
margin-left:0%;
border:2px solid black;
content-justify:center;
height:175px;
width:150px;
float:left;
}
#mn
{
margin:0px;
width:150px;
height:130px;
}
#btn2
{
margin:0%;
padding:2px;
width:100%;
cursor:pointer;
}
.pn
{
color:black;
font-weight:bold;
padding:0.2px;
margin:0%;
}
section
{
margin:0%;
}
th
{
font-size:25px;
font-family:san-serif;
padding:10px;
}
#password
{
border-radius:2px 2px 2px 2px;
font-size:25px;
}
#username
{
border-radius:2px 2px 2px 2px;
font-size:25px;
}




